<h3 class="page-title">
    @AppResources.Instance.Get("Home")
</h3>

<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->

<div class="note note-success">
    <h1>
        @AppResources.Instance.Get("HelloInYourCMS")  
    </h1>

</div>
