USE [master]
GO
/****** Object:  Database [RadishStackDB]    Script Date: 7/4/2017 12:32:21 AM ******/
CREATE DATABASE [RadishStackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RadishStackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RadishStackDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RadishStackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RadishStackDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RadishStackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RadishStackDB]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[RelativePath] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[IsInitial] [bit] NOT NULL,
	[ViewPath] [nvarchar](255) NULL,
	[Attachments] [nvarchar](max) NULL,
	[PostMetaValues] [nvarchar](255) NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
	[PostTypeId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Photo] [nvarchar](255) NULL,
	[Author] [nvarchar](255) NULL,
	[Gallery] [nvarchar](max) NULL,
	[Widgets] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostMeta]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostMeta](
	[Id] [uniqueidentifier] NOT NULL,
	[PostId] [uniqueidentifier] NOT NULL,
	[MetaKey] [nvarchar](255) NOT NULL,
	[MetaValue] [nvarchar](500) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PostMeta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTerm]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTerm](
	[Id] [uniqueidentifier] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[PostId] [uniqueidentifier] NOT NULL,
	[TermId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PostTerm_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostType]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostType](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](400) NOT NULL,
	[ViewPath] [nvarchar](400) NULL,
	[DisplayOrder] [int] NOT NULL,
	[EnableFeatureImage] [bit] NOT NULL,
	[EnableTags] [bit] NOT NULL,
	[EnableDescription] [bit] NOT NULL,
	[EnableSummary] [bit] NOT NULL,
	[EnableDateChoose] [bit] NULL,
	[EnableGallery] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[EnableCategories] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Icon] [nvarchar](255) NULL,
	[IsSystem] [bit] NOT NULL,
	[EnableViewPath] [bit] NOT NULL,
	[TermViewPath] [nvarchar](255) NULL,
	[PostMetaFields] [nvarchar](max) NULL,
	[PostMediaList] [nvarchar](255) NULL,
	[EnableWidgets] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PostType_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostWidget]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostWidget](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[WidgetId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Location] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PostWidget_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setting]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Value] [nvarchar](2000) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Term]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[TaxonomyId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IncludeInTopMenu] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
	[PostTypeId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Term] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[PasswordSalt] [varchar](256) NOT NULL,
	[Photo] [varchar](256) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Widget]    Script Date: 7/4/2017 12:32:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widget](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[SourceCategories] [nvarchar](255) NULL,
	[SourceTags] [nvarchar](255) NULL,
	[SourcePosts] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[ViewPath] [nvarchar](255) NULL,
	[PostCount] [int] NOT NULL,
	[PublicId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[ReturnTags] [bit] NOT NULL,
	[ReturnCategories] [bit] NOT NULL,
	[ReturnPosts] [bit] NOT NULL,
	[PostType] [nvarchar](255) NOT NULL,
	[Tags] [nvarchar](max) NOT NULL,
	[Categories] [nvarchar](max) NOT NULL,
	[Posts] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Widget] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([Id], [Title], [RelativePath], [Status], [CreationDate], [LastModified], [Type], [PublicId]) VALUES (N'827c584b-1956-4cd9-b39a-1187fb6c286b', NULL, N'/content/uploaded/a7d15be4-4c1d-4ffe-8233-56c201a77f19.png', 0, CAST(0x0000A7A5015229BB AS DateTime), CAST(0x0000A7A50120B97D AS DateTime), 0, 5)
INSERT [dbo].[Media] ([Id], [Title], [RelativePath], [Status], [CreationDate], [LastModified], [Type], [PublicId]) VALUES (N'6a917615-7b51-46ea-8f55-1891f7df26d4', NULL, N'/content/uploaded/0ad043d5-aa26-49b8-85b3-1eb4f53e26fc.png', 0, CAST(0x0000A7A50151D296 AS DateTime), CAST(0x0000A7A501206258 AS DateTime), 0, 1)
INSERT [dbo].[Media] ([Id], [Title], [RelativePath], [Status], [CreationDate], [LastModified], [Type], [PublicId]) VALUES (N'67ec67f1-4603-4eac-b942-2508ad38704d', NULL, N'/content/uploaded/cf1e1edb-89d8-4041-9078-42b5ab361d07.png', 0, CAST(0x0000A7A60004B6DD AS DateTime), CAST(0x0000A7A5015EC8A1 AS DateTime), 0, 6)
SET IDENTITY_INSERT [dbo].[Media] OFF
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([Id], [CreationDate], [Title], [Status], [Detail], [IsInitial], [ViewPath], [Attachments], [PostMetaValues], [PublicId], [PostTypeId], [ParentId], [Photo], [Author], [Gallery], [Widgets], [IsActive]) VALUES (N'017b8c1c-6ac3-419a-b88e-105a5c92a97c', CAST(0x0000A7A5014F1EA6 AS DateTime), N'sdfh', -100, N'<p><strong>fdshfdhg</strong></p>', 0, NULL, NULL, NULL, 9, N'37ce72cf-6376-47d1-81c7-0322c95587f7', NULL, NULL, NULL, N'[]', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Post] OFF
INSERT [dbo].[PostTerm] ([Id], [DisplayOrder], [CreationDate], [PostId], [TermId], [Status]) VALUES (N'198e3e77-3f04-4b2b-9547-5f1fe8dc2926', 1, CAST(0x0000A7A5015022DD AS DateTime), N'81a7af2a-76d2-41ec-a612-02887b82cee0', N'25e90a30-0f4b-403c-9b5a-4aa5c2699e36', 0)
INSERT [dbo].[PostTerm] ([Id], [DisplayOrder], [CreationDate], [PostId], [TermId], [Status]) VALUES (N'6cdc9ee2-6963-49cc-91e2-803e3e049eb4', 3, CAST(0x0000A7A5015048BD AS DateTime), N'81a7af2a-76d2-41ec-a612-02887b82cee0', N'a818b888-6fe9-4881-bd52-699cc51b8f15', 0)
INSERT [dbo].[PostTerm] ([Id], [DisplayOrder], [CreationDate], [PostId], [TermId], [Status]) VALUES (N'd0877c30-29ba-4d69-97a9-806544a4ccdc', 1, CAST(0x0000A7A501501685 AS DateTime), N'81a7af2a-76d2-41ec-a612-02887b82cee0', N'25e90a30-0f4b-403c-9b5a-4aa5c2699e36', -100)
SET IDENTITY_INSERT [dbo].[PostType] ON 

INSERT [dbo].[PostType] ([Id], [Title], [ViewPath], [DisplayOrder], [EnableFeatureImage], [EnableTags], [EnableDescription], [EnableSummary], [EnableDateChoose], [EnableGallery], [CreationDate], [EnableCategories], [IsActive], [Icon], [IsSystem], [EnableViewPath], [TermViewPath], [PostMetaFields], [PostMediaList], [EnableWidgets], [Status], [PublicId]) VALUES (N'37ce72cf-6376-47d1-81c7-0322c95587f7', N'News', N'news', 2, 1, 1, 1, 1, NULL, 1, CAST(0x0000A7A501476F99 AS DateTime), 1, 1, N'pencil', 0, 0, N'news', NULL, NULL, 0, 0, 3)
INSERT [dbo].[PostType] ([Id], [Title], [ViewPath], [DisplayOrder], [EnableFeatureImage], [EnableTags], [EnableDescription], [EnableSummary], [EnableDateChoose], [EnableGallery], [CreationDate], [EnableCategories], [IsActive], [Icon], [IsSystem], [EnableViewPath], [TermViewPath], [PostMetaFields], [PostMediaList], [EnableWidgets], [Status], [PublicId]) VALUES (N'0004aef4-1380-40e1-bdbf-5c6dd6e7bddf', N'Pages', N'page', 1, 1, 1, 1, 1, 1, 1, CAST(0x0000A80800000000 AS DateTime), 1, 1, N'tag', 0, 1, N'page', NULL, NULL, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[PostType] OFF
SET IDENTITY_INSERT [dbo].[Term] ON 

INSERT [dbo].[Term] ([Id], [CreationDate], [Title], [TaxonomyId], [Status], [IncludeInTopMenu], [DisplayOrder], [IsPublic], [PublicId], [PostTypeId], [ParentId], [IsActive]) VALUES (N'25e90a30-0f4b-403c-9b5a-4aa5c2699e36', CAST(0x0000A7A5014BE657 AS DateTime), N'politics', 10, 0, 0, 0, 1, 3, N'37ce72cf-6376-47d1-81c7-0322c95587f7', NULL, 1)
INSERT [dbo].[Term] ([Id], [CreationDate], [Title], [TaxonomyId], [Status], [IncludeInTopMenu], [DisplayOrder], [IsPublic], [PublicId], [PostTypeId], [ParentId], [IsActive]) VALUES (N'a818b888-6fe9-4881-bd52-699cc51b8f15', CAST(0x0000A7A5015048B1 AS DateTime), N'test', 20, 0, 0, 0, 1, 6, N'37ce72cf-6376-47d1-81c7-0322c95587f7', NULL, 1)
INSERT [dbo].[Term] ([Id], [CreationDate], [Title], [TaxonomyId], [Status], [IncludeInTopMenu], [DisplayOrder], [IsPublic], [PublicId], [PostTypeId], [ParentId], [IsActive]) VALUES (N'e8821ed0-8002-4252-aba3-722c3b7ef4fd', CAST(0x0000A7A5014BF37A AS DateTime), N'sport', 10, 0, 0, 0, 1, 4, N'37ce72cf-6376-47d1-81c7-0322c95587f7', N'25e90a30-0f4b-403c-9b5a-4aa5c2699e36', 1)
SET IDENTITY_INSERT [dbo].[Term] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [PublicId], [CreationDate], [Name], [Username], [Email], [Role], [Status], [PasswordHash], [PasswordSalt], [Photo]) VALUES (N'0004aef4-1380-40e1-bdbf-5c6dd6e7bddf', 1, CAST(0x0000A80800000000 AS DateTime), N'admin', N'admin', N'admin', 10, 10, N'btWDPPNShuv4Zit7WUnw10K77D8=', N'QRhr7ksom8wrAkQOcycax6PyiI576UkZGUKjOEk+Ewk=', N'')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Widget] ON 

INSERT [dbo].[Widget] ([Id], [Title], [CreationDate], [SourceCategories], [SourceTags], [SourcePosts], [IsActive], [ViewPath], [PostCount], [PublicId], [Status], [ReturnTags], [ReturnCategories], [ReturnPosts], [PostType], [Tags], [Categories], [Posts]) VALUES (N'9761548f-92af-4377-bedc-147d9a7aa2f4', N'slider', CAST(0x0000A7A5017CE094 AS DateTime), NULL, NULL, NULL, 1, NULL, 10, 4, 0, 1, 1, 1, N'37ce72cf-6376-47d1-81c7-0322c95587f7', N'1d9b7506-a35a-4a16-a505-89d00b1d2e6f', N'e8821ed0-8002-4252-aba3-722c3b7ef4fd', N'81a7af2a-76d2-41ec-a612-02887b82cee0')
SET IDENTITY_INSERT [dbo].[Widget] OFF
ALTER TABLE [dbo].[Media] ADD  CONSTRAINT [DF_Media_CreationDate]  DEFAULT (getutcdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Media] ADD  CONSTRAINT [DF_Media_LastModified]  DEFAULT (getutcdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[Media] ADD  CONSTRAINT [DF__Media__Type__25869641]  DEFAULT ((0)) FOR [Type]
GO
USE [master]
GO
