@model CMS.Models.UnauthorizedModel
@{
    ViewBag.Title = "Unauthorized";

}
<h2>
    Unauthorized</h2>
<div style="margin-bottom: 50px;">
    @*@( string.Concat(Model.CurrentUser.Name, ": ", Model.Message))*@
</div>
