<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="DBEntities" 
         connectionString="Data Source=tcp:mentis-we.database.windows.net,1433;Initial Catalog=alrasouldb2;User Id=mentis@mentis-we;Password=Mnts@987654321;"
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <!--<add name="DBEntities"
           connectionString="Data Source=tcp:mentis-we.database.windows.net,1433;Initial Catalog=rassouldb;User Id=mentis@mentis-we;Password=Mnts@987654321;"
           providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->

    </connectionStrings>
  
  <appSettings>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off"/>
  </system.web>
  
  <resizer>
    <plugins>
      <add name="MvcRoutingShim" />
      <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"  prefix="~/media"  name="AzureReader2" connectionString="" endpoint="" />
    </plugins>
  </resizer>
  
</configuration>
