@using CMS
@model List<Core.Repositories.Widget>
    @{ var area = Site.AreaName;}
    <div style="height: 500px;overflow-y: scroll">
        <table class="table table-striped table-hover table-bordered" id="search_results">
            <thead class="flip-content">
                <tr>
                    <th width="50"></th>
                    <th>العنوان</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" data-itemid="@item.Id" data-itemtitle="@item.Title"  /></td>
                        <td>
                            <div style="margin-bottom: 10px">@item.Title</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <script>
            Metronic.initUniform();
        </script>
    </div>
