@using Web.Models.UI
@{ var themepath = "/Themes/Communi8/Content";}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--title-->
    @*<title>@Html.RenderTitle(false)</title>*@
    <title>Communi8</title>


    <link href="@themepath/Font/font.css" rel="stylesheet" />

    <link rel='stylesheet' id='wp-pagenavi-css' href='@themepath/css/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css' href='@themepath/css/style.css?ver=2.7.3' type='text/css' media='all' />
    <link rel='stylesheet' id='et-shortcodes-css-css' href='@themepath/css/shortcodes.css?ver=2.7.3' type='text/css' media='all' />
    <link rel='stylesheet' id='et-shortcodes-responsive-css-css' href='@themepath/css/shortcodes_responsive.css?ver=2.7.3' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css' href='@themepath/css/magnific_popup.css?ver=2.7.3' type='text/css' media='all' />
    <script type='text/javascript' src='@themepath/js/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='@themepath/js/jquery-migrate.min.js?ver=1.4.1'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


    <link href="@themepath/css/theme-customizer-css.css" rel="stylesheet" />


    <link href="@themepath/css/et-builder.css" rel="stylesheet" />


    <link rel='stylesheet' id='mediaelement-css' href='https://cdn.elegantthemes.com/preview/Divi/wp-includes/js/mediaelement/mediaelementplayer.min.css?ver=2.22.0' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-mediaelement-css' href='https://cdn.elegantthemes.com/preview/Divi/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=4.7.4' type='text/css' media='all' />


</head>

<body class="home page-template-default page page-id-6367 et_pb_button_helper_class  et_show_nav et_cover_background et_pb_side_nav_page et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar chrome">
    <div id="page-container">
        @Html.Action("Header", "Shared")
        <div id="et-main-area">
            <div id="main-content">

                <div class="entry-content">
                    <article class="post-6367 page type-page status-publish hentry">
                        @RenderBody()
                    </article>
                </div>
            </div>
        </div>
        @Html.Action("Footer", "Shared")
    </div>

    <script type='text/javascript' src='@themepath/js/frontend-builder-global-functions.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/comment-reply.min.js?ver=4.7.4'></script>
    <script type='text/javascript' src='@themepath/js/jquery.mobile.custom.min.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/custom.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/smoothscroll.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/jquery.fitvids.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/waypoints.min.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/jquery.magnific-popup.js?ver=2.7.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var et_pb_custom = { "ajaxurl": "https:\/\/elegantthemes.com\/preview\/Divi-One-Page\/wp-admin\/admin-ajax.php", "images_uri": "http:\/\/elegantthemes.com\/preview\/Divi-One-Page\/wp-content\/themes\/Divi\/images", "builder_images_uri": "http:\/\/elegantthemes.com\/preview\/Divi-One-Page\/wp-content\/themes\/Divi\/includes\/builder\/images", "et_frontend_nonce": "dddabfdfd4", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "f67ec251da", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "is_builder_plugin_used": "", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "is_ab_testing_active": "", "page_id": "6367", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='@themepath/js/frontend-builder-scripts.js?ver=2.7.3'></script>
    <script type='text/javascript' src='@themepath/js/wp-embed.min.js?ver=4.7.4'></script>
    <script type='text/javascript' src='@themepath/js/jquery.easypiechart.js?ver=2.7.3'></script>

    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = { "language": "en-US", "strings": { "Close": "Close", "Fullscreen": "Fullscreen", "Turn off Fullscreen": "Turn off Fullscreen", "Go Fullscreen": "Go Fullscreen", "Download File": "Download File", "Download Video": "Download Video", "Play": "Play", "Pause": "Pause", "Captions\/Subtitles": "Captions\/Subtitles", "None": "None", "Time Slider": "Time Slider", "Skip back %1 seconds": "Skip back %1 seconds", "Video Player": "Video Player", "Audio Player": "Audio Player", "Volume Slider": "Volume Slider", "Mute Toggle": "Mute Toggle", "Unmute": "Unmute", "Mute": "Mute", "Use Up\/Down Arrow keys to increase or decrease volume.": "Use Up\/Down Arrow keys to increase or decrease volume.", "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds." } };
        var _wpmejsSettings = { "pluginPath": "\/preview\/Divi\/wp-includes\/js\/mediaelement\/" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://cdn.elegantthemes.com/preview/Divi/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
    <script type='text/javascript' src='https://cdn.elegantthemes.com/preview/Divi/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7.4'></script>


</body>
</html>
