@model Web.Models.FooterModel
<span class="et_pb_scroll_top et-pb-icon"></span>
<footer id="main-footer">



    <div id="footer-bottom" style="padding-bottom: 50px; padding-top: 50px;">
        <div class="container clearfix" style="padding-bottom: 20px;">
            <span style="float: right;color: #ffffff; font-weight: bold;">Be a Communi8tor and Follow Us:</span>
        </div>
        <div class="container clearfix">

            <ul class="et-social-icons">

                <li class="et-social-icon et-social-facebook">
                    <a href="https://www.facebook.com/Communi8UAE/" class="icon" target="_blank">
                        <span>Facebook</span>
                    </a>
                </li>
                <li class="et-social-icon et-social-twitter">
                    <a href="https://twitter.com/communi8uae" class="icon" target="_blank">
                        <span>Twitter</span>
                    </a>
                </li>
                <!--<li class="et-social-icon et-social-google-plus">
                    <a href="#" class="icon">
                        <span>Google</span>
                    </a>
                </li>
                <li class="et-social-icon et-social-rss">
                    <a href="/preview/Divi-One-Page/?feed=rss2" class="icon">
                        <span>RSS</span>
                    </a>
                </li>-->

            </ul>
            <p id="footer-info" style="color: #ffffff; font-weight: bold;">@DateTime.Today.Year Communi8. </p>
        </div> <!-- .container -->
    </div>
</footer>