@{
    var path = "/Themes/Communi8/Content/Images/";
}



<div id="getintouch" class="et_pb_section et_pb_fullwidth_section et_pb_scroll_6">
    <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4 ">
            <hr class="et_pb_module et_pb_space et_pb_divider_0 et-hide-mobile">
        </div>
    </div>

    <section class="et_pb_fullwidth_header et_pb_module et_pb_bg_layout_light">
        <div class="et_pb_fullwidth_header_container">
            <div class="header-content-container">
                <div class="header-content" style="text-align: left;">

                    <h1 style="font-size: 4em; font-weight: bold;">
                        <img src="@(path +"line.png")"><br>
                        GET IN<br>
                        TOUCH
                    </h1>
                    <div class="et_pb_row et_pb_row_4col" style="width: 100%;">

                        <div class="et_pb_column et_pb_column_1_2 ">
                        </div>
                        <div class="et_pb_column et_pb_column_1_2 ">

                            We can’t wait to hear from you<br>
                            <br>

                            Jumeirah Lakes Tower – Cluster I -  Platinum Tower – Office 3904<br>
                            Dubai-UAE<br>

                            <a href="mailto:info@communi8.com">info@communi8.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4 ">
            <hr class="et_pb_module et_pb_space et_pb_divider_3 et-hide-mobile">
        </div>
    </div>
</div>