@model Web.Models.Post.PostDetailsModel
@using Core
@using Web.Models.UI

@{
    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = AppSettings.Instance.SeoSettings;

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Post", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Title) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.FeaturedImage + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode("") + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var website = seoSettings.Site;
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(website) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Title) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + "" + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}




<div id="newsdetails">
    <div class="section">
        <div class="row">
            <div class="col-sm-9">
                <div id="site-content" class="site-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="left-content">
                                <h1 class="section-title title">World News</h1>
                                <div class="details-news">
                                    <div class="post">
                                        <div class="entry-header">
                                            <div class="entry-thumbnail">
                                                <img class="img-responsive" src="@Model.FeaturedImage" alt="" />
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <div class="entry-meta">
                                                <ul class="list-inline">
                                                    <li class="posted-by"><i class="fa fa-user"></i> <a href="#">Adams Kev</a></li>
                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @Model.CreationDate.ToString("yyyy-MM-dd") </a></li>
                                                    <li class="views"><a href="#"><i class="fa fa-eye"></i>21k</a></li>
                                                    <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>231</a></li>
                                                    <li class="comments"><i class="fa fa-comment-o"></i><a href="#">172</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="entry-title">
                                                @Model.Title
                                            </h2>
                                            <div class="entry-content">
                                                @Html.Raw(Model.Detail)

                                                <div class="news-tags">
                                                    <span>Tags:</span>
                                                    <ul class="list-inline">
                                                        <li><a href="#">Business</a>,</li>
                                                        <li><a href="#">Money</a>,</li>
                                                        <li><a href="#">USA</a>,</li>
                                                        <li><a href="#">Ebook</a>,</li>
                                                        <li><a href="#">Top News</a></li>
                                                    </ul>
                                                </div>

                                                @*<ul class="list-inline share-link">
                                                        <li><a href="#"><img src="images/others/s1.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/others/s2.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/others/s3.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/others/s4.png" alt="" /></a></li>
                                                    </ul>*@
                                            </div>
                                        </div>
                                    </div><!--/post-->
                                </div><!--/.section-->
                            </div><!--/.left-content-->
                        </div>
                    </div>
                </div>

                <div class="section related-news-section">
                    <h1 class="section-title">Related News</h1>
                    <div class="related-news">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div id="sitebar">
                    <div class="widget">
                        <h1 class="section-title title"><a href="listing.html">Most Popular</a></h1>
                        <ul class="post-list">
                           
                        </ul>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>
